* {
  box-sizing: border-box;
  font-family: urbane-rounded, sans-serif;
}
body {
  --primary-color: #3b6896;
  --secondary-color: #eef5ff;
  --therty-color: #1815be;
  --disabled-color: #d4d7da;

  font-weight: normal;

  padding: 0;
  margin: 0;
}
h1,
h2,
p {
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* BREADCRUMBS */
.breadcrumbs {
  font-size: 0.7rem;
  padding: 1em 0;
}
.breadcrumbs__item {
  color: lightgray;
}
.breadcrumbs__item:last-child {
  color: var(--primary-color);
}
.breadcrumbs__item i {
  margin: 0 6px;
}

/* HEADER */
.header {
  background-color: var(--secondary-color);
  padding: 50px 0;
}
.header .container {
  display: flex;
  justify-content: space-between;
}

.header .subtitle {
  font-weight: 400;
  color: var(--primary-color);
}
.header .title {
  font-weight: 600;
}

/* Raiting */
.raiting {
  display: flex;
  align-items: center;
}
.raiting__points {
  color: #fff;
  background-color: var(--primary-color);
  margin-right: 0.8em;
  padding: 8px;
  border-radius: 5px;
}

.raiting__stars i {
  color: var(--disabled-color);
}
.raiting__stars i:nth-child(-n + 4) {
  margin-right: 2px;
  color: gold;
}

/* TIMELINE */
.timeline-container {
  padding: 30px 0;
}
.timeline {
  --timeline-thickness: 2px;
  position: relative;
  border-top: var(--timeline-thickness) solid var(--primary-color);
  list-style: none;
  padding-left: 0;
}
.event {
  position: absolute;
  margin-top: 1em;
  display: inline-block;
}
.event strong {
  margin-left: -50%;
  font-weight: 700;
}
.event::after {
  content: '';
  display: block;
  position: absolute;
  top: -1em;

  width: 7px;
  height: 7px;

  margin-top: calc(var(--timeline-thickness) * -2);

  box-shadow: 0 0 0 var(--timeline-thickness) var(--primary-color);
  border-radius: 50%;
  background-color: var(--primary-color);
}
.event[data-active='false']::after {
  background-color: #fff;
}
.event:nth-child(1) {
  left: 0%;
}
.event:nth-child(2) {
  left: 50%;
}
.event:nth-child(3) {
  left: 100%;
}
