* {
  box-sizing: border-box;
  font-family: urbane-rounded, sans-serif;
}
body {
  --primary-color: #3b6896;
  --secondary-color: #eef5ff;
  --therty-color: #1815be;
  --disabled-color: #d4d7da;

  font-weight: normal;

  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.title {
  font-weight: 600;
  text-transform: uppercase;
}
.title .subtitle {
  display: block;
  font-size: 0.7em;
  font-weight: 400;
  color: var(--primary-color);
}
.chip {
  display: inline-block;
  position: relative;

  padding: 0.2em;
  margin-bottom: 3px;
  margin-right: 1em;

  background-color: #fff;
  z-index: 2;
}
.chip::before,
.chip::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;

  width: 2em;
  height: 100%;

  background-color: #fff;
  border-radius: 50%;
  z-index: -1;
}
.chip::before {
  left: -1em;
}
.chip::after {
  right: -1em;
}

/* BREADCRUMBS */
.breadcrumbs {
  font-size: 0.7rem;
  padding: 1em 0;
}
.breadcrumbs__item {
  color: lightgray;
}
.breadcrumbs__item:last-child {
  color: var(--primary-color);
}
.breadcrumbs__item i {
  margin: 0 6px;
}

/* HEADER */
.header {
  background-color: var(--secondary-color);
  padding: 50px 0;
}
.header .container {
  display: flex;
  justify-content: space-between;
}

/* Raiting */
.raiting {
  display: flex;
  align-items: center;
}
.raiting__points {
  color: #fff;
  background-color: var(--primary-color);
  margin-right: 0.8em;
  padding: 8px;
  border-radius: 5px;
}

.raiting__stars i {
  color: var(--disabled-color);
}
.raiting__stars i:nth-child(-n + 4) {
  margin-right: 2px;
  color: gold;
}

/* TIMELINE */
.timeline-container {
  padding: 30px 0;
  margin-bottom: 50px;
}
.timeline {
  --timeline-thickness: 2px;
  position: relative;
  border-top: var(--timeline-thickness) solid var(--primary-color);
  list-style: none;
  padding-left: 0;
}
.event {
  position: absolute;
  margin-top: 1em;
  display: inline-block;
}
.event strong {
  margin-left: -50%;
  font-weight: 700;
}
.event::after {
  content: '';
  display: block;
  position: absolute;
  top: -1em;

  width: 7px;
  height: 7px;

  margin-top: calc(var(--timeline-thickness) * -2);

  box-shadow: 0 0 0 var(--timeline-thickness) var(--primary-color);
  border-radius: 50%;
  background-color: var(--primary-color);
}
.event[data-active='false']::after {
  background-color: #fff;
}
.event:nth-child(1) {
  left: 0%;
}
.event:nth-child(2) {
  left: 50%;
}
.event:nth-child(3) {
  left: 100%;
}

/* CARD */
.card {
  --card-br: 4px;
  padding: 1.5rem;
  border-radius: var(--card-br);
  box-shadow: 0 0 12px 3px #e1e1e1;
}
.card__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
/* APARTAMENTS SOLICITATS */
.offer {
  display: grid;
  grid-template-columns: auto 1.5fr 1fr 1fr;
  justify-items: center;
  gap: 18px;

  padding: 1em;
  padding-right: 0;
  border: 1px solid var(--disabled-color);
  border-radius: var(--card-br);
}
.offer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.offer img {
  height: 100%;
  object-fit: cover;
  border-radius: var(--card-br);
}
.offer__title {
  font-size: 1.3em;
  margin-bottom: 1rem;
}
.offer__check {
  margin-bottom: 1rem;
  padding: 0.5em 1em;
  text-align: center;
  border: 1px solid var(--disabled-color);
  border-radius: var(--card-br);
}
.offer__check p {
  color: var(--primary-color);
}
.offer__price-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  margin: -1rem 0;
  padding: 1rem;
  text-align: right;
  background-color: var(--secondary-color);
}
.offer__price {
  font-size: 2em;
  font-weight: 600;
  color: var(--primary-color);
}
