.timeline-container {
  padding: 30px 0;
  margin-bottom: 50px;
}
.timeline {
  --timeline-thickness: 2px;
  --event-point-size: 8px;

  position: relative;
  padding-left: 0;
  border-top: var(--timeline-thickness) solid var(--primary-color);
  list-style: none;
}
.timeline__event {
  position: absolute;
  display: inline-block;
  margin-top: 1em;
}
.timeline__event strong {
  margin-left: -50%;
  font-weight: 600;
  font-size: 0.9rem;
}
.timeline__event::after {
  content: '';
  display: block;
  position: absolute;
  top: -1em;

  width: var(--event-point-size);
  height: var(--event-point-size);

  margin-top: calc((var(--event-point-size) / 2) * -1);

  box-shadow: 0 0 0 var(--timeline-thickness) var(--primary-color);
  border-radius: 50%;
  background-color: var(--primary-color);
}
.timeline__event:nth-child(1) {
  left: 0%;
}
.timeline__event:nth-child(2) {
  left: 50%;
}
.timeline__event:nth-child(3) {
  left: 100%;
}
.timeline__event[data-active='false']::after {
  background-color: #fff;
}
