* {
  box-sizing: border-box;
  font-family: urbane-rounded, sans-serif;
}
body {
  --primary-color: #3b6896;
  --secondary-color: #eef5ff;
  --therty-color: #1815be;
  --disabled-color: #d4d7da;

  font-weight: normal;

  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
