* {
  box-sizing: border-box;
  font-family: urbane-rounded, sans-serif;
}
body {
  --primary-color: #3b6896;
  --secondary-color: #eef5ff;
  --therty-color: #1815be;
  --disabled-color: #d4d7da;

  font-weight: normal;

  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.title {
  font-weight: 600;
  text-transform: uppercase;
}
.title .subtitle {
  display: block;
  font-size: 0.7em;
  font-weight: 400;
  color: var(--primary-color);
}
.chip {
  display: inline-block;
  position: relative;

  padding: 0.2em;
  margin-bottom: 3px;
  margin-right: 1em;

  background-color: #fff;
  z-index: 2;
}
.chip::before,
.chip::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;

  width: 2em;
  height: 100%;

  background-color: #fff;
  border-radius: 50%;
  z-index: -1;
}
.chip::before {
  left: -1em;
}
.chip::after {
  right: -1em;
}
/* CARD */
.card {
  --card-br: 4px;
  padding: 1.5rem;
  border-radius: var(--card-br);
  box-shadow: 0 0 12px 3px #e1e1e1;
}
.card__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
